* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background: #000;
}

h1 {
    font-size: 3rem;
    margin: 2rem 0;
    color: #8e44ad;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: .2rem;
    text-align: center;
    text-shadow: 0 .1rem .3rem #fff;
}

.video-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.video-container .video {
    height: 30rem;
    width: 50rem;
    margin: 2rem;
    box-shadow: 0 .5rem 1rem #fff;
    overflow: hidden;
    border-radius: 1rem;
}
